*{
    box-sizing: border-box;
}

body{
    background-color: #FF7982;
    padding: 72px 0 0 0; 
    text-align: center;
    margin: 0 auto;
}

header{
    background-image: url(assets/background.png);
    text-align: center;
    width: 1440px;
    height: 430px;
    padding: 58px 386px; 
    margin: 0 auto;
}

header div{
    width: 645px;
    height: 319px; 
    background: rgb(9, 24, 63, 0.5);
    box-shadow: 0px 14px 25px -10px rgba(9, 24, 63, 0.17);
    border-radius: 10px;
    text-align: center;
    padding: 57px 58px 55px 58px; 
}

header div h1{
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 46px;
    color: #FFFFFF;
    margin: 0;
}

header div p{
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: left;
    color: #FFFFFF;
    margin: 10px 0 25px 0;
    
}

header div a{
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    padding: 9px 30px;
    background: #FF8E4F;
    border-radius: 50px;
    color: #FFFFFF;
}

section{
    width: 1440px;
    background-color: #F4F8FD;
    margin: 0 auto;
    padding: 73px
}
section div{
    width: 501px;
    height: 341px;
    text-align: center;
    margin: 0 auto;
    background-color: #FFFFFF;
    padding: 51px 60px 40px 60px;
}
section div h2{
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 46px;
    text-align: center;
    color: #000000;
    margin: 0;
    padding: 0 55px 0 55px;
}
section div p{
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #000000;
    padding: 26px 0 47px 0;
    margin: 0;
}

.botão{
    width: 150px;
    height: 42px;
    background: #FFFFFF;
    border: 1px solid #09183F;
    border-radius: 50px;
    padding: 9px 30px;
}
.botão a{
    text-align: center;
    text-decoration: none;
    color: #09183F;

}
img{
    margin-bottom: 60px;
}